{% load static %}
{% block header %}
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<link rel="stylesheet" type="text/css" href="{% static 'maps/home.css' %}">

{% endblock header %}
{% block content %}

<body>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <form class="col-4 main-form" method="get" action="survey">
        <div class="form-group">
          <div class="text-center">
            <h1>Wander</h1>
          </div>
        </div>

        <div class="form-group">
          <div class="col">
            <label for="destination">I want to travel to</label>
            <input type="text" class="form-control" name="destination" id="destination" placeholder="Destination">
          </div>
        </div>

        <div class="form-group">
          <div class="col">
            <label for="destination">From</label>
              <input class="form-control" id="startDate" name="date" placeholder="MM/DD/YYY" type="text"/>
            <label for="destination">To</label>
              <input class="form-control" id="endDate" name="date" placeholder="MM/DD/YYY" type="text"/>
            </div>
        </div>

        <div class="form-group col text-center"> <!-- Submit button -->
          <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>

      </form>
    </div>
  </div>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })

    function initialize() {
    var input = document.getElementById('destination');
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.setFields(['address_components', 'geometry', 'icon', 'name']);
    autocomplete.setTypes(['(cities)']);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var place = autocomplete.getPlace();
        document.getElementById('city2').value = place.name;
        document.getElementById('cityLat').value = place.geometry.location.lat();
        document.getElementById('cityLng').value = place.geometry.location.lng();
    });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDChff6mfZVegGKChBtmAi0lf3FWsH0aek&libraries=places&callback=initialize"
        async defer>
</script>
  <!-- <div class="center-block">
    <h1>Wander</h1>
  </div> -->
</body>

{% endblock content %}